.features-container {

    display: flex;
  
    flex-wrap: wrap;
  
    gap: 20px;
  
    justify-content: center;
  
    padding: 20px;
  
  }
  
   
  
  .feature-item {
  
    background-color: #f9f9f9;
  
    border-radius: 8px;
  
    padding: 15px;
  
    width: 200px; /* Reduce el ancho para que los cuadros sean más pequeños */
  
    text-align: center;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    transition: transform 0.3s ease;
  
  }
  
   
  
  .feature-item:hover {
  
    transform: translateY(-5px); /* Pequeña animación al hacer hover */
  
  }
  
   
  
  .feature-image {
  
    width: 100%;
  
    height: auto;
  
    border-radius: 4px;
  
    margin-bottom: 10px;
  
  }
  
   
  
  .feature-text h3 {
  
    font-size: 1.2em; /* Reduce el tamaño de la fuente */
  
    margin-bottom: 8px;
  
  }
  
   
  
  .feature-text p {
  
    font-size: 0.9em; /* Reduce el tamaño del texto de la descripción */
  
    color: #666;
  
  }